<configuration>
    <!-- Appender для вывода JSON в консоль -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <mdc/> <!-- Включает в JSON все поля из MDC -->
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- Корневой логгер, который будет использовать наш JSON-аппендер -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>